{% extends "base.html" %}

{% block content %}
<!-- Hero image container-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <div class="hero-image">
                <img src="https://res.cloudinary.com/dgqbwyrsz/image/upload/v1689969334/static/images/hero.jpg" alt="Hero Image">
            </div>

            <!-- Welcome to blogstar bio-->
            <div class="col-md-8 offset-md-2 text-center">
                <h1 class="welcome-heading">Welcome to Blogstar</h1>
                <h2 class="about">
                    Blogstar is a place where users can come together to share their thoughts about their favorite topics.
                    Becoming part of the community is quick and easy. Simply click the register section on the website and create your unique profile.
                    Once registered, you can start posting about your favorite sports, art forms, or musical experiences. Engage in discussions,
                    share your insights, and connect with others who share your passions.
                    Our community welcomes you to embark on a journey of exploration, collaboration, and inspiration.
                </h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}
